---
export interface Props {
	url: URL;
	caption: string | undefined;
}

const { url, caption } = Astro.props;
---

<div class="h-auto overflow-hidden sm:h-[700px]">
	<iframe
		allowtransparency="true"
		class="lazyload h-[500px] w-full max-w-full rounded-lg border-none sm:h-[700px]"
		loading="lazy"
		data-src={url.toString()}
		title={caption}></iframe>
</div>
