<a 
	href="#main" 
	class="sr-only focus:not-sr-only focus-visible:not-sr-only focus:fixed focus-visible:fixed focus:start-1 focus-visible:start-1 focus:top-1.5 focus-visible:top-1.5 focus:z-50 focus-visible:z-50 focus:bg-accent focus-visible:bg-accent focus:text-white focus-visible:text-white focus:px-4 focus-visible:px-4 focus:py-2 focus-visible:py-2 focus:rounded focus-visible:rounded focus:ring-2 focus-visible:ring-2 focus:ring-white focus-visible:ring-white contrast-more:focus:ring-4 contrast-more:focus-visible:ring-4 forced-colors:focus:bg-Highlight forced-colors:focus-visible:bg-Highlight forced-colors:focus:text-HighlightText forced-colors:focus-visible:text-HighlightText"
	>skip to content
</a>
